.product-card{
overflow:hidden;
}

.product-image{
height:240px;
background:#d9d9d9;
display:flex;
justify-content:center;
align-items:center;
color:#777;
font-size:1.2rem;
}

.product-content{
padding:25px;
}

.product-content h3{
margin-bottom:15px;
color:var(--primary);
}

.product-content p{
margin-bottom:25px;
color:#666;
font-size:.95rem;
line-height:1.7;
}

.whatsapp-btn{
width:100%;
text-align:center;
background:#25D366;
}

.whatsapp-btn:hover{
background:#1ebe5d;
}